*{
    font-family: Verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* menu base styles*/
nav{
    background: #333;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
    //background-color: #777;
}

nav a:hover{
    background-color: #555;
}

/* social menu base styles*/
a.tw{
    background: url(img/tw.png) no-repeat center;
    background-size: 100%;
}

a.fb{
    background: url(img/fb.png) no-repeat center;
    background-size: 100%;
}

.social a{
    text-indent: -10000px;
}

.social {
    max-width: 80px;
    margin: 0 auto;
}



/* flex styles*/

nav ul.social{
    float: 1 1 0;
    display: flex;
}

nav ul.social li{
    flex: 1 1 0;
}


@media screen and (min-width: 768px){
    nav ul{
        display: flex;
        justify-content: flex-start;
    }

    nav li{
        flex: 1 1 0;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }

    .social{
        margin: 0;
    }

    a.tw{
        background: url(img/tw.png) no-repeat center;
        margin: 0 5px;
        background-size: 120%;
    }
    
    a.fb{
        background: url(img/fb.png) no-repeat center;
        margin: 0px;
        background-size: 120%;
    }
}