<html lang="en">
    
<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    
    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">Your Name:</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">Your Details:</label>
            <input type="text" id="title" name="snippet" required>
            <label for="body">Dishes You Cook: </label>
            <textarea id="body" name="body" required></textarea>
            <button>Submit</button>
        </form>    
    </div>
    
    <%- include('../partials/footer.ejs') %>
    

</body>
</html>