<html lang="en">
    
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero molestiae fugiat qui saepe, aspernatur, odio cupiditate temporibus ex at, numquam quae sapiente. Voluptatem dolor cum accusantium. Modi officia sunt dignissimos!</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero molestiae fugiat qui saepe, aspernatur, odio cupiditate temporibus ex at, numquam quae sapiente. Voluptatem dolor cum accusantium. Modi officia sunt dignissimos!</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero molestiae fugiat qui saepe, aspernatur, odio cupiditate temporibus ex at, numquam quae sapiente. Voluptatem dolor cum accusantium. Modi officia sunt dignissimos!</p>
    </div>
</body>
</html>