<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>

      <p>Hello Reader,</p>
      <br />

      <p>
        This is my first website made using NodeJS and this is where my journey
        begins as a <strike>Web Developer</strike> Full Stack Developer.
      </p>

      <br />
      <p>
        I had a filler text here i just removed it. still this looks empty so i
        guess will add some "Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Distinctio velit mollitia odio enim quas maxime, sequi fuga
        cupiditate, inventore eius obcaecati. Laboriosam temporibus totam saepe
        doloremque reprehenderit similique at eaque." just to fill this up.
      </p>
      <br />
      <p>Thanks for reading.</p>
      <p>
        You can check out my new porfolio website at
        <a href="https://moheb-dabilkar.vercel.app/">Moheb's Portfolio</a>.
      </p>
    </div>
  </body>
</html>
