<nav>

    <div class="site-title">
        <a href="/"><h1 class="font-bold">Moheb Ninja</h1></a>
        <p>A Moheb's Mongoose</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>