*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
    color: #333;
}

.wrapper{
    width: 100%;
    max-width: 960px;
}

#blocks{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

#blocks div{
    flex: 0 0 100px;
    padding: 40px 0;
    text-align: center;
    background: #ccc;
}

.one{order: 0;}
.two{order: 0;}
.three{order: 0;}
.four{order: 0;}