.App {
  text-align: center;
}

.wrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.innerwrap{
  display: flex;
  flex-basis: 50%;
  flex-flow: row wrap;
  flex-flow: column;
}

button{
  margin: 20px auto;
}

header button{
  margin: 20px 20px;
}

img{
  max-width: 200px;
  width: auto;
  margin: auto;
}

